---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
			<div class="row">
				{% include breadcrumbs.html %}
			</div>

            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
			  <div class="clearfix" />
              <p class="text-center pull-right">
                <a target="_blank" href="{{site.gitlab.website.link}}/blob/master/website/{{ page.path }}" class="btn btn-default btn-sm githubEditButton" role="button">
                  <span class="glyphicon glyphicon-pencil"> </span>
				  Improve this page
                </a>
              </p>
			  <div class="clearfix" />
            </div>
            <hr>
        </div>

    </div>
</div>
