<div>
<ol class="breadcrumb hidden-xs hidden-sm">
	{% for p in page.breadcrumbs%}
		<li class="{% if forloop.last %} active{%endif %}">
			{% if forloop.last == false %}<a href="{{p.url | prepend: site.baseurl}}">{% endif %}
			{% if forloop.first 0 %}Home{% else %}{{p.title}}{% endif %}
			{% if forloop.last == false %}</a>{% endif %}
		</li>
	{% endfor %}
</ol>
</div>
