<div id="sidenav">
<nav class="nav sidenav hidden-print hidden-sm hidden-xs affix">
	<ul class="nav bs-docs-sidenav">
		<li class="sidenav-h1"><a href="#">{{page.title}}</a></li>

		{% for item in page.subnav %}
		<li class="sidenav-h2"><a href="{{item.url}}">{{item.title}}</a>
			<ul class="nav">
				{% for child in item.children %}
					<li class="sidenav-h3"><a href="{{child.url}}">{{child.title}}</a>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</nav>
</div>
