<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div>
					{% capture date_now %}{{ 'now' | date: '%Y'}}{% endcapture %}
					{% capture date_cop %}{{ site.year }}{% endcapture %}
					<a href="{{site.gitlab.group.link}}">{{ site.author }} {{site.year}}{% if date_cop < date_now %} - {{date_now}}{% endif %}</a>
				</div>
				<div>
					<small class="text-muted">
				Theme based on <a href="https://github.com/aksakalli/jekyll-doc-theme">Jekyll Doc Theme</a>
					</small>
				</div>
			</div>

			<div class="col-md-6">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-clock-o"></i>
							Generated at
						</div>
						<div class="col-xs-8">
							{{ 'now'| date: "%Y-%m-%d %H:%M:%S %z" }}
						</div>
					</div>
					{% for project in site.gitlab %}
						{% if project[1].pipeline %}
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cogs"></i>
								{{project[1].name}}
							</div>
							<div class="col-xs-8">
								<a href="{{project[1].link}}">
									<img alt="pipeline status" src="{{project[1].link}}/badges/master/pipeline.svg">
								</a>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</footer>
