<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ "/favicon.ico?1" | prepend: site.baseurl }}">

    <link rel="apple-touch-icon" sizes="114x114" href={{ "/apple-touch-icon.png" | prepend: site.baseurl }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon-32x32.png" | prepend: site.baseurl }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon-16x16.png" | prepend: site.baseurl }}>
    <link rel="manifest" href={{ "/site.webmanifest" | prepend: site.baseurl }}>
    <link rel="mask-icon" href={{ "/safari-pinned-tab.svg" | prepend: site.baseurl }} color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#cccccc">

    {% seo %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
