<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
<script src="{{ "/assets/js/typeahead.bundle.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }} "></script>
