<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
				<!--<span><img src="{{site.baseurl}}/assets/img/logonav.png" alt="logo"></span>--> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
				{% for p in site.pages %}
					{% assign splitpath = p.path | split: "/" %}
					{% assign isindex   = splitpath[1] | slice: 0,5 %}
					{% if p.title and p.navigation != false and (splitpath.size == 1 or isindex == "index") %}
					<li class="{% if page.url == p.url %}active{% endif %}"><a href="{{ p.url }}">{{p.title}}</a></li>
					{% endif %}
				{% endfor %}
            </ul>
            <div class="navbar-right">
                {% comment %}
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="search" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                {% endcomment %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.gitlab.core.link }}"><i class="fa fa-git" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
